server:
  port: 9999
  use-forward-headers: true
  servlet:
    context-path: /
spring:
  application:
    name: uat
  jackson:
    default-property-inclusion: non_null
  session:
    store-type: jdbc
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQL95Dialect
        jdbc.lob.non_contextual_creation: true
    generate-ddl: false
    hibernate:
      ddl-auto: none
  profiles:
    ## Profiles list
    active: ${rp.profiles:default}
  mvc:
    locale: en_US
    locale-resolver: fixed

logging:
  level:
    org.springframework.security: debug
    org.hibernate: info
    org.hibernate.stat: info
    org.springframework.web.bind: fatal

springfox:
  documentation:
    swagger:
      v2:
        path: /api-docs


#### Custom ReportPortal Properties ######
##########################################
rp:
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    driverClassName: org.postgresql.Driver
    jdbcUrl: ${rp.db.url}
    username: ${rp.db.user}
    password: ${rp.db.pass}
    maximumPoolSize: 27

  db:
    url: jdbc:postgresql://${rp.db.host}:${rp.db.port}/${rp.db.name}
    name: reportportal
    host: postgres
    port: 5432
    user:
    pass:
  jwt:
    signing-key:
    token:
      validity-period: ${rp.session.live}
  session:
    live: 86400
  saml:
    session-live: 4320
  auth:
    saml:
      base-path:
      entity-id: report.portal.sp.id
      key-password: password
      key-alias: report-portal-sp
      session-live: ${rp.saml.session-live}
      key-store: saml/keystore.jks
      key-store-password: password
      network-connection-timeout: 5000
      network-read-timeout: 10000
      signed-requests: false
      active-key-name: sp-signing-key
      prefix: saml/sp
  feature:
    flags:

datastore:
  default:
    path: /data/storage
  type: minio
  endpoint: http://play.min.io
  accessKey:
  secretKey:
  bucketPrefix: prj-
  defaultBucketName: rp-bucket
  region: us-west-1