server:
  port: 9999
security:
  oauth2:
    resource:
      filter-order: 3
spring:
  jackson:
    default-property-inclusion: non_null
  session:
    store-type: jdbc
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${rp.db.url}
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQL95Dialect
        jdbc.lob.non_contextual_creation: true
    generate-ddl: false
    hibernate:
      ddl-auto: none

logging:
  level:
    org.springframework.security: debug

springfox:
  documentation:
    swagger:
      v2:
        path: /api-docs


#### Custom ReportPortal Properties ######
##########################################
rp:
  amqp:
    addresses: amqp://rabbitmq:rabbitmq@rabbitmq:5672
  db:
    url: jdbc:postgresql://postgres:5432/reportportal?user=rpuser&password=rppass
  upload:
    maxUploadSize: 128MB
    maxFileSize: 64MB
  analytics:
    enableByDefault: true
