management:
  endpoints:
    web:
      base-path: /
info:
  build:
    name: Authorization Service
    description: Unified Authorization Trap for all ReportPortal's Services
    version: ${rp.uat.version:5.0}
server:
  port: 9999
  use-forward-headers: true
spring:
  jackson:
    default-property-inclusion: non_null
  session:
    store-type: jdbc
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQL95Dialect
        jdbc.lob.non_contextual_creation: true
    generate-ddl: false
    hibernate:
      ddl-auto: none
  profiles:
    ## Profiles list
    active: ${rp.profiles:default}

logging:
  level:
    org.springframework.security: debug

springfox:
  documentation:
    swagger:
      v2:
        path: /api-docs


#### Custom ReportPortal Properties ######
##########################################
rp:
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    driverClassName: org.postgresql.Driver
    jdbcUrl: ${rp.db.url}
    username: ${rp.db.user}
    password: ${rp.db.pass}
    maximumPoolSize: 27

  db:
    url: jdbc:postgresql://${rp.db.host}:${rp.db.port}/${rp.db.name}
    name: reportportal
    host: postgres
    port: 5432
    user: rpuser
    pass: rppass
  jwt:
    signing-key: 123
    token:
      validity-period: 86400
  auth:
    server: default
    saml:
      # base-path: ${SP_BASE_PATH:${server.contextPath:http://localhost:8080}}/${spring.application.name}
      base-path: ${SP_BASE_PATH:${server.contextPath:http://localhost:9999}}
      key-password: ${SP_KEY_PASSWORD:password}
      key-alias: ${SP_KEY_ALIAS:report-portal-sp}
      key-store: ${SP_KEY_STORE:file://C:\Users\Ihar_Kahadouski\IdeaProjects\service-authorization-saml\src\main\resources\saml\keystore.jks}
      key-store-password: ${SP_KEY_STORE_PASSWORD:password}
      network-connection-timeout: ${SP_NETWORK_CONNECTION_TIMEOUT:5000}
      network-read-timeout: ${SP_NETWORK_READ_TIMEOUT:10000}
      signed-requests: ${SP_SIGNED_REQUESTS:false}
      active-key-name: sp-signing-key